*{
    margin: 0%;
    padding: 0%;
}
#banner{
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}
#dog1, #dogDois, #dogTres, #dogQuatro, #comida, #comidaDois, #comidaTres{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#dog1{
    height: 400px;
    background-image: url(../img/middle1.jpg);
}
#dog2{
    height: 400px;
    background-image: url(../img/middle2.jpg);
}
#dog3{
    height: 400px;
    background-image: url(../img/middle3.jpg);
}
#dog4{
    height: 400px;
    background-image: url(..//img/middle4.jpg);
}
#comida{
    height: 700px;
    background-image: url(../img/food2.jpg);
}
#comidaDois{
    height: 700px;
    background-image: url(../img/toy1.jpg);
}
#comidaTres{
    height: 700px;
    background-image: url(../img/thanks.jpg);
}